@model ProductListViewModel
@{
    ViewBag.Title = "Ürünler";
}

<h2>Ürünler</h2>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ürün Adı</th>
            <th>Boyutu-Ağırlığı</th>
            <th>Fiyatı</th>
            <th>Stok Adedi</th>
        </tr>
    </thead>
        @foreach (var product in Model.Products)
        {
            <tbody>
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.QuantityPerUnit</td>
                <td>@product.UnitPrice</td>
                <td>@product.UnitsInStock</td>
                <td>
                    <a class="btn btn-sm btn-success" asp-controller="cart"
                   asp-action="AddToCart" asp-route-productId="@product.ProductId">Sepete ekle</a>
                </td>
            </tr>
        
    </tbody>
        }
    </table>
